<div id="content">
  <!-- Logout button -->
  <img src="../../assets/images/logout.svg" alt="Logout" class="position-absolute" id="logout-image"
    (click)="logout()" />

  <!-- Modal Stuff -->
  <!-- TODO: Move modal to goals compoent. 
        When you submit the modal refresh the goals after you update the goal or delete the goal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit goalName</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form onsubmit="updateGoal()">
          <div class="modal-body">
            <!-- <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Exercise</label>
              <input type="text" class="form-control">
              <div class="form-text">The exercise you wish to set as your goal</div>
            </div> -->
            <div class="mb-3">
              <label for="target-input" class="form-label">Target Weight</label>
              <input type="text" class="form-control" id="target-input">
              <div class="form-text">The weight you wish to be able to achieve</div>
            </div>
            <!-- <div class="mb-3">
              <label for="current-input" class="form-label">Current Weight</label>
              <input type="text" class="form-control" id="current-input">
              <div class="form-text">The weight you can currently do (Optional)</div>
            </div> -->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button type="button" type="submit" class="btn btn-danger" data-bs-dismiss="modal">Delete Goal</button>
            <button type="button" type="submit" class="btn btn-primary" data-bs-dismiss="modal">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Text -->
  <h1 class="m-auto mt-5" id="welcome-message"><i><b>Welcome Yourname!</b></i></h1>
  <h5 class="m-auto mt-4" id="next-workout">Your next workout is <p>tomorrow morning.</p>
  </h5>
  <div class="d-flex justify-content-center">
    <button type="button" class="p-3 rounded-3 fs-4" id="workout-button" routerLink="../workouts">
      Start workout
    </button>
    <button type="button" class="p-3 rounded-3 fs-4" (click)="deleteGoal('')" >Test</button>
  </div>

  <!-- Goals -->
  <h2 class="mx-auto w-75 text-center mt-5" id="goals-text"><b>Goals:</b></h2>
  <div class="container">
    <div id="carouselIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <!-- TODO: *ngfor to generate app-goals dynamically. When you geneate app-goal put in some input data.  -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <app-goal class="d-flex justify-content-center"></app-goal>
        </div>
        <div class="carousel-item">
          <app-goal class="d-flex justify-content-center" [data]="tsVar"></app-goal>
        </div>
        <div class="carousel-item">
          <app-goal class="d-flex justify-content-center"></app-goal>
        </div>
        <!-- TODO: Add a "plus" icon to make a new goal, will use the modal we have here -->
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>