:host {
  --main-color: #613194;
  --main-color-faded: #8251b6;
  --off-color: #ed5101;
  color: rgb(95, 95, 95);
}

#content {
  width: 100vw;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  background-color: rgb(245, 245, 245);
}

#logout-image {
  width: 40px;
  top: 3px;
  right: 3px;
}

#logout-image:hover {
  cursor: pointer;
}

h1 {
  font-size: 35px;
  color: black;
  margin: 0 !important;
}

h2 {
  font-size: 30px;
  color: black;
}

h5 {
  color: black;
}

#welcome-message {
  text-align: center;
}

#next-workout {
  width: 80vw;
  text-align: center;
}

#workout-button {
  width: 300px;
  text-align: center;
  background: linear-gradient(145deg, lighten( #2D3142, 10%), darken(#2D3142, 10%));
  box-shadow: 3px 3px 2px var(--main-color-faded);
  background-color: var(--main-color);
  border: none;
  margin-top: 50px;
}

.carousel-control-next,
.carousel-control-prev,
.carousel-indicators {
    filter: invert(100%);
}


#goals-text {
  margin-bottom: 40px;
}

.col {
  text-align: center;
}
