<div [hidden]="!loggedIn" id="content">
  <app-analysis num="1" id="analysis"></app-analysis>
  <app-dummy id="dummy"></app-dummy>
  <div id="workout-plans">
    <app-workout-box workout_name = "Back Workout" photo="../../assets/images/back_photo.jpg"></app-workout-box>
    <app-workout-box workout_name = "Leg Workout" photo="../../assets/images/gym-deadlift.jpg"></app-workout-box>
    <app-workout-box workout_name = "Abs Workout" photo="../../assets/images/abs.jpg"></app-workout-box>
    <app-workout-box workout_name = "Chest Workout" photo="../../assets/images/chest.jpg"></app-workout-box>
  </div>
  <div id="exercise">
    <app-exercise-box exercise_name="Lunges"></app-exercise-box>
    <app-exercise-box exercise_name="Curl Up"></app-exercise-box>
    <app-exercise-box exercise_name="Bench Press"></app-exercise-box>
  </div>
  <div id="history">
    <app-history-box num_id=1 workout_name = "Back Workout History" photo="../../assets/images/back_photo.jpg"></app-history-box>
    <app-history-box num_id=2 workout_name = "Leg Workout History" photo="../../assets/images/gym-deadlift.jpg"></app-history-box>
    <app-history-box num_id=3 workout_name = "Abs Workout History" photo="../../assets/images/abs.jpg"></app-history-box>
    <app-history-box num_id=4 workout_name = "Chest Workout History" photo="../../assets/images/chest.jpg"></app-history-box>
    
  </div>
</div>

<app-homepage [hidden]="!loggedIn" id="home"></app-homepage>
<app-nav [hidden]="!loggedIn" (changeNavEvent)="changePage($event)"></app-nav>

<app-login (signUp)="showSignUp($event)" [hidden]="signUp" *ngIf="!loggedIn"></app-login>
<app-signup (login)="showSignUp($event)" [hidden]="!signUp" *ngIf="!loggedIn"></app-signup>

<router-outlet></router-outlet>