#content {
    position:relative;
    left:5rem;
    width: 95vw;
    /* width:calc(100vw-5rem); */
}

/* Smaller screens */
@media only screen and (max-width: 800px) {
    #content {
        bottom: 5rem;
    }

}

/* Large screens */

@media only screen and (min-width: 800px) {
    #content {
        left: 5rem;
    }

}