<div id="content">
    <app-analysis num="1" id="analysis"></app-analysis>
    <app-dummy id="dummy"></app-dummy>
    <div id="exercise">
        <app-exercise-box exercise_name="Lunges"></app-exercise-box>
        <app-exercise-box exercise_name="Curl Up"></app-exercise-box>
        <app-exercise-box exercise_name="Bench Press"></app-exercise-box>
    </div>
    <div id="history">
        <app-history-box></app-history-box>
        <app-history-box></app-history-box>
        <app-history-box></app-history-box>
        <app-history-box></app-history-box>
        <app-history-box></app-history-box>
    </div>
</div>






<app-nav (changeNavEvent)="changePage($event)"></app-nav>