#chart {
  border: 1px solid black;
}


.test {
  background-color: var(--main-color);
}


.content {
  position:relative;
}


@media only screen and (max-width: 800px) {
  .content {
    max-width: 700px;
  }
}


/* Large screens */

@media only screen and (min-width: 800px) {
  .content{
    left: 5rem;
    width: 94rem;
  }
}
