#last-ex {
    margin-bottom: 20vh;
}

#exerciseButtons  {
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 10vh;
}


.exercise-button {
    color: white;
    background-color: var(--main-color-faded);
    border-radius: 15px;
    padding-top: .8%;
    padding-bottom: .8%;
    padding-left: 1%;
    padding-right: 1%;
    margin-left: .5%;
    margin-right: .5%;
    transition: 0.3s;
}


.exercise-button:hover{
    background-color: var(--main-color);
}


input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


/* The Modal (background) */
.modal {
    display:block;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5px auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  /* Close button on hover */
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }

  .setHeader {
      text-align: center;
  }

  .setbtn {
      
    padding: 14px 20px;
    margin: 1vh 0;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-top: 3vh;
  }