@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,300,200,100);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
body {
  background: #EDF7FA;
}
@media only screen and (max-width: 768px) {
  body {
    background-color: lightblue;
  }
}
.card {
  position: relative;
  top: 20vh;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 0.75em;
  padding: 0;
  transition: all 0.2s ease-in-out;
}
.card:nth-child(even) {
  margin: 0 1em;
}

.card-top {
  background: #8251b6;
  padding: 3em;
  border-top-left-radius: 0.75em;
  border-top-right-radius: 0.75em;
}
.card-top .card-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 20em;
  width: auto;
}
.card-top .overlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 25.75em;
  width: 100%;
  border-top-left-radius: 0.75em;
  border-top-right-radius: 0.75em;
  z-index: 10;
  background: rgba(0, 0, 0, 0.55);
  overflow: hidden;
  transition: all 700ms ease;
  opacity: 0;
}
.card-top .overlay h1 {
  text-align: center;
  font-weight: 500;
  color: #fff;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.card-top .overlay:hover, .card-top .overlay:focus {
  opacity: 1;
}

.triangle {
  position: relative;
  height: 0;
  width: 0;
  border-left: 1.5em solid transparent;
  border-right: 1.5em solid transparent;
  border-top: 1.5em solid #8251b6;
  margin: 0 auto -1.75em auto;
  top: -0.25em;
  z-index: 20;
}

.card-bottom {
  background: #f7f7f7;
  padding: 1.75em 1em 1em 1em;
  border-bottom-left-radius: 0.75em;
  border-bottom-right-radius: 0.75em;
}
.card-bottom .card-title {
  font-weight: 100;
}

body, h1, h2, h3, h4, h5, h6, p {
  font-family: Work Sans;
}