<div class="center">
    <div id="container">
        <h3 id="name">Workout</h3>
        <div id="min"></div>
        <div id="parent">            
            <div id="sug" class="child">
                <p class="exercise">Exercise</p>
                <p class="exercise">Exercise</p>
                <p class="exercise">Exercise</p>
                <p class="exercise">Exercise</p>
                <p class="exercise">Exercise</p>
                <p class="exercise">Exercise</p>
                <p class="exercise">Exercise</p>
                <p class="exercise">Exercise</p>
            </div>          
            <div class="child"></div>
        </div>   
                   
    </div>
</div>
