.center {
  display: flex;
  justify-content: center;
  padding-bottom: 5vh;
}

#container {
  background-color: lightgrey;
  border-radius: 25px;
  width: 25vw;
  height: 25vh;
  box-shadow: 5px 5px burlywood;
  overflow: hidden;
}

#name {
  padding-top: 1vh;
  padding-left: 1vw;
  font-style: bold;
}

#parent {
  margin-top: 10vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15vw;
  width: 50%;
}

#sug {
  margin-top: -10vh;
}

#taken {
  margin-top: 20vh;
}

.child {
  margin: 2vh;
}

.exercise {
  padding-top: 2px;
  font-size: smaller;
}

#min {
  margin-top: -16vh;
  margin-left: -15vw;
  z-index: 1;
  width: 23vw;
  height: 29vh;
  background-color: plum;
  clip-path: polygon(70% 0, 100% 0, 30% 100%, 0 100%);
}
