<div class="center">
    <div id="container">
        <h3 id="name">Workout</h3>
        
        <div id="parent">            
            <div id="sug" class="child">
                <p class="exercise">Exercise</p>
                <p class="exercise">Exercise</p>
                <p class="exercise">Exercise</p>
                <p class="exercise">Exercise</p>
                <p class="exercise">Exercise</p>
                <p class="exercise">Exercise</p>
                <p class="exercise">Exercise</p>
                <p class="exercise">Exercise</p>
            </div>            
            <h5 id="min" class="child">Time</h5>
        </div>        
      </div>
</div>
