/* You can add global styles to this file, and also import other style files */
@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


:root {
  --main-color: #613194;
  --main-color-faded: #8251b6;
  --seconday-color: #ed5101;
}