<div id="top">
    <h1>Analysis</h1>
    <div class="btn-group" dropdown>
      <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
        aria-controls="dropdown-basic">
        Graphs <span class="caret"></span>
      </button>
      <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
        <li role="menuitem"><a class="dropdown-item" href="#" (click)="showGraph(0)">Graph 1</a></li>
        <li role="menuitem"><a class="dropdown-item" href="#" (click)="showGraph(1)">Graph 2</a></li>
        <li role="menuitem"><a class="dropdown-item" href="#" (click)="showGraph(2)">Graph 3</a></li>
      </ul>
    </div>
</div>

<div id="charts">
  <app-chart id="graph-0" name="Graph 0"></app-chart>
  <app-chart id="graph-1" name="Graph 1"></app-chart>
  <app-chart id="graph-2" name="Graph 2"></app-chart>
</div>
