<h1>Analysis Component</h1>
<div class="btn-group" dropdown>
    <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle" aria-controls="dropdown-basic">
      Graphs <span class="caret"></span>
    </button>
    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
        <li role="menuitem"><a class="dropdown-item" href="#" (click)="showGraph(0)">Graph 1</a></li>
        <li role="menuitem"><a class="dropdown-item" href="#" (click)="showGraph(1)">Graph 2</a></li>
        <li role="menuitem"><a class="dropdown-item" href="#" (click)="showGraph(2)">Graph 3</a></li>
    </ul>
</div>
<div *ngFor="let item of data;let i = index">
<!--  <p>thing: {{i + 1}}</p>-->
  <p>key: {{data}} object: {{data}}</p>
  <app-chart id="graph-{{i+1}}" name="graph {{i+1}}" *ngIf="show[i]"></app-chart>
</div>
