<div id="history">
  <app-history-box num_id=1 workout_name = "Back Workout History" photo="../../assets/images/back_photo.jpg"></app-history-box>
  <app-history-box num_id=2 workout_name = "Leg Workout History" photo="../../assets/images/gym-deadlift.jpg"></app-history-box>
  <app-history-box num_id=3 workout_name = "Abs Workout History" photo="../../assets/images/abs.jpg"></app-history-box>
  <app-history-box num_id=4 workout_name = "Chest Workout History" photo="../../assets/images/chest.jpg"></app-history-box>
</div>
