<div id="content">
  <h1 class="m-auto mt-5" id="welcome-message"><i><b>Welcome Yourname!</b></i></h1>
  <h5 class="m-auto mt-4" id="next-workout">Your next workout is <p>tomorrow morning.</p>
  </h5>
  <div class="d-flex justify-content-center">
    <button type="button" class="p-3 w-75 rounded-3 fs-4" id="workout-button">Start workout</button>
  </div>
  <h2 class="mx-auto w-75 text-center mt-5" id="goals-text"><b>Goals:</b></h2>
  <div class="container">
    <div class="row">
      <div class="col d-flex justify-content-center">
        <app-goal></app-goal>
      </div>
      <div class="col d-flex justify-content-center">
        <app-goal></app-goal>
      </div>
    </div>
    <div class="row">
      <div class="col d-flex justify-content-center">
        <app-goal></app-goal>
      </div>
      <div class="col d-flex justify-content-center">
        <app-goal></app-goal>
      </div>
    </div>
  </div>
</div>