<div id = "exercise_box">
    <h1>Exercise: {{exercise_name}}</h1>
    <table id = "exercise-table">
        <thead>
            <tr>
                <th>Set</th>
                <th>Pounds (lb)</th>
                <th>Number of Reps</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>10</td>
                <td>5</td>
            </tr>
            <tr>
                <td>2</td>
                <td>15</td>
                <td>5</td>
            </tr>
            <tr>
                <td>3</td>
                <td>10</td>
                <td>5</td>
            </tr>
        </tbody>
      </table>

      <button class = "exercise-button">ADD A SET</button>
      <button class = "exercise-button">REMOVE A SET</button>

</div>